.img1{
	border-radius: 60%;
	width: 110px;
	height: 100px;
	
}
.card{
    width: auto;
}
.col{
    width: auto;
    justify-content: center;
    vertical-align: middle;
}
.row{
    margin-top: 15px;
    justify-content: center;
    vertical-align: middle;
}
.somecontainer{
    
    
    align-items: center;
}
.card-body{
  width: auto;
}
.image{
    margin-left: 5px;
    margin-right: 5px;
}